.container{
    background-color: #f2f2f2;
}

.loginRegisterPage{
    width: 600px;
    display: flex;
    margin: auto;
    padding: 100px;
}

.formBox{
    flex: 1;
    padding: 20px;
    border: 3px solid #805ACB;
    background-color: white;
}

.login{

}

.register{
    border-left: none;
}

.input{
    padding: 12px 20px;
    margin: 15px 0px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.button{
    padding: 14px 0px;
    margin: 8px 0px;
    width: 100%;
    border: none;
    color: white;
    background-color: #805ACB;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
}

.hr{
    border: 1px solid #f1f1f1;
    margin: 25px 0px;
}

.registerEmptyBlock{
    height: 28px;
    /* height: 240px; */
}