.part1{
    padding: 30px;
    background-color: lavender;
}

.part2{
    padding: 30px;
    background-color: lavenderblush;
}

.text{
    margin-left: 30px;
    margin-bottom: 30px;
}
.gridContainer{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 0px; 
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid4x2{
    grid-template-rows: repeat(2, 1fr);
}

.grid4x1{
    grid-template-rows: repeat(1, 1fr);
}

.previousNextDiv{
    display: flex;
    justify-content: center;
}

.previousNext{
    text-decoration: none;
    display: inline-block;
    padding: 0px 17px;
    color: black;
    background-color: #f1f1f1;
    font-size: 30px;
    border-radius: 10%;
    height: 45px;
    border: 1px solid black;
}

.previousNext:hover{
    background-color: #ddd;
}