.placeCard{
    width: 200px;
    height: 220px;
    background-color: gray;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.like{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    color: #f1f1f1;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 6px;
    top: 10px;
    right: 10px;
}
.like:hover{
    cursor: pointer;
}

.imgContainer{
    width: 200px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
}

.title{
    /* background-color: lightpink; */
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    overflow: hidden;
}

.detail{
    /* background-color: lightgreen; */
    color: #f1f1f1;
    font-size: 12px;
    padding: 5px 10px;
}