.collectionCard{
    width: 200px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.imgContainer{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #f1f1f1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.detail{
    font-size: 13px;
    margin-bottom: 15px;
}

.like{
    background-color: rgba(21, 13, 13, 0.7);
    color: rgb(255 255 255/85%);
    border: none;
    border-radius: 6px;
    text-align: center;
    width:fit-content;
    cursor: pointer;
}

.collectionEmptyCard{
    width: 200px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    background-color: gray;
}

.emptyText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150px;
}