.header{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logoDiv{
    margin: 10px 30px;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    color: #805ACB;
    text-decoration: none;
}

.search{
    width: 600px;
    height: 30px;
    border: 1.5px solid #805ACB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select{
    font-size: 13px;
    border: none;
    outline: none;
    width: 80px;
    height: 90%;
    padding-left: 5px;
    cursor: pointer;
}

.input{
    padding-left: 10px;
    width: 500px;
    height: 90%;
    border: none;
    outline: none;
    font-size: 13px;
}

.button{
    min-width: 35px;
    height: 90%;
    border: none;
    outline: none;
    color: #805ACB;
    background-color:white;
    cursor: pointer;
}

.loginDiv{
    margin: 10px 30px;
    min-width: 50px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.login{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.login:hover{
    text-decoration: underline;
}

.separator{
    color: #805ACB;
    font-weight: 600;
    font-size: 15px;
}