.btnSpan{
    float: right;
    margin-right: 15px;
}

.btn{
    outline: none;
    cursor: pointer;
    border: 1px solid #805ACB;
    background-color: white;
    color: #805ACB;
}

.commentCard{
    padding: 0px 20px;
}

.userName{
    font-weight: 600;
    font-size: 17px;
}

.textTime{
    color: lightgray;
    float: right;
}

.textContent{
    margin-top: 10px;
    word-break: break-all;
}

.editInput{
    width: 70%;
    margin-right: 10px;
    font-size: 15px;
    padding: 5px 10px;
}

.hr{
    border: 1px solid #f1f1f1;
}