.part1{
    background-color: lavenderblush;
}
.part2{
    background-color: ghostwhite;
}
.part3{
    background-color: lavenderblush;
}

.text{
    font-size: 20px;
    margin: 0px 30px;
    padding: 20px 20px 0px;
}

.gridContainer{
    display: grid;
    place-items: center;
    gap: 30px 0px; 
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 30px;
}